:root {
  --main-font: "Saira", sans-serif;
  --thin-weight: 200;
  --regular-weight: 300;
  --bold-weight: 600;
  --main-black: #1e1e1e;
  --main-border-radius: 5px;
  --main-white: #dde2ec;
  --main-background: #f1f3f5;
  --main-text-color: #696e82;
  --record-color: #e36058;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--main-background);
}

/* Header text */

header {
  width: 80%;
  height: 3em;
  margin: 3.3em auto 1em auto;
  text-align: center;
}
header h3 {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 0.9em;
  color: var(--main-text-color);
}

/* Main Calculator */

#super-container {
  background: linear-gradient(189.29deg, #e6eaf1 0.37%, #d1d4d9 100.1%);
  box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.25),
    inset 0px 2px 1px rgba(255, 255, 255, 0.89);
  border-radius: 15px;
  width: 20em;
  height: 29.5em;
  display: block;
  margin: 1em auto;
  padding-top: 1.4em;
}

#main-container {
  background-color: var(--main-black);
  width: 17.25em;
  height: 28.1em;
  margin: 0 auto;
  border-radius: 6px;
}

/* Display Header + Speakers */

#header-container {
  width: 100%;
  height: 6.9em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2px;
}
.speaker-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.speaker {
  width: 95%;
  height: 95%;
  background: #dde2ec;
  border-radius: 5px;
  box-shadow: inset 0px -0.9px 0.3px rgba(0, 0, 0, 0.25),
    inset 0px 0.9px 0.3px #ffffff;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  display: grid;
  place-items: center;
}

.mini-speakers {
  width: 70%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.2em;
  padding-top: 0.2em;
}

.mini-style {
  background-color: var(--main-black);
  opacity: 0.8;
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  margin-right: 0.1em;
}

#speaker-left {
  margin-left: 0.2em;
}

/* Display Styles */

#display-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: rgb(236, 226, 226);
}

#cassette {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 1.2em;
  padding-top: 0.3em;
  padding-left: 0.2em;
}

#message {
  width: 90%;
  justify-self: flex-end;
  text-align: right;
  padding-top: 0.2em;
}

#message p {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 0.5em;
  font-weight: 600;
  font-family: var(--main-font);
}

#real-display {
  width: 83%;
  height: 3.6em;
  margin: 0 auto;
  text-align: right;
  padding-top: 1em;
}

#real-display #results {
  color: white;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1.6em;
  margin-top: 0.3em;
  margin-bottom: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#real-display #operation-display {
  color: rgb(214, 214, 214);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 1em;
}

#record-dot {
  background-color: var(--record-color);
  border-radius: 50%;
  width: 0.4em;
  height: 0.4em;
}

/* Color bars details */
.bar-detail {
  height: 0.12em;
  margin-top: 0.07em;
  margin-left: 0.1em;
  border-radius: 1em;
}

#red-detail {
  background-color: var(--record-color);
  width: 50%;
}

#blue-detail {
  background-color: #58bae3;
  width: 40%;
}

#green-detail {
  background-color: #58e3b1;
  width: 60%;
}
/* All the other buttons */

#digits-container {
  width: 270px;
  height: 21em;
  background-color: var(--main-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 2px;
  row-gap: 2px;
  margin: 0 auto;
}

#digits-container .btn-container {
  background: #dde2ec;
  border-radius: 6px;
  box-shadow: inset 0px -0.9px 0.3px rgba(0, 0, 0, 0.25),
    inset 0px 0.9px 0.3px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #dde2ec;
  box-shadow: 0px 8px 14px -6px rgba(0, 0, 0, 0.4),
    0px -8px 11px -1px rgba(255, 255, 255, 0.51),
    inset 0px -2px 2px rgba(0, 0, 0, 0.16),
    inset 0px 2px 1.3px rgba(255, 255, 255, 0.68);
  color: var(--main-text-color);
  border: none;
  font-family: var(--main-font);
  font-size: 2.4em;
  font-weight: 200;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: none;
  border: 0.03em solid #aaadb47a;
  font-size: 2.35em;
}

.btn #record-circle-one {
  background-color: var(--record-color);
  border-radius: 50%;
  width: 81%;
  height: 81%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn #record-mini {
  background-color: white;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

/* Styling some of the buttons */

#back-key p {
  margin-top: -0.1em;
  margin-right: 0.07em;
  color: #ddb349;
  font-weight: 300;
}

#equals-key p {
  margin-top: -0.15em;
}

#add p {
  margin-top: -0.2em;
}

#substract p {
  margin-top: -0.1em;
}

#multiply p {
  margin-top: -0.2em;
  font-size: 0.8em;
}

#divide p {
  margin-top: -0.2em;
  font-weight: 300;
}

#piano-circle {
  background-color: var(--main-black);
  width: 81%;
  height: 81%;
  border-radius: 50%;
}

#clear-key {
  font-size: 1.8em;
  font-weight: 300;
  color: #fd974e;
}

/* Common classes */

.hide {
  display: none;
}

/* footer */
footer {
  width: 80%;
  height: 3em;
  margin: 3.3em auto 1em auto;
  text-align: center;
}
footer h3 {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 0.9em;
  color: var(--main-text-color);
}

#social-media {
  width: 12%;
  height: 2em;
  margin: 0.5em auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#social-media img {
  width: 1.3em;
  opacity: 0.7;
}

#social-media img:hover {
  opacity: 1;
}

#odin {
  height: 1.8em;
}

#github {
  height: 1.3em;
}
